@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* ===GENERALES=== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/* ===HEADER=== */
.container-principal-header {
  width: 100%;
  height: 8vh;
  background-color: rgb(53, 53, 236);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-content-header {
  width: 65%;
  display: flex;
  justify-content: space-between;
  padding: .4rem;
}
.header-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
}
.input-header {
  border: none;
  border-radius: .4rem;
  padding: .4rem;
  outline: none;
  font-size: 1.7vh;
  text-align: center;
  width: 25vh;
  height: 100%;
}
.button-search {
  border: 1px solid white;
  background-color: transparent;
  border-radius: .4rem;
  padding: .4rem;
  width: 10vw;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  gap: .4rem;
  align-items: center;
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: rgb(101, 101, 227);
  }
}
.header-button-add {
  width: 15vw;
  padding: .4rem;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: .4rem;
  display: flex;
  justify-content: center;
  gap: .4rem;
  align-items: center;
  transition: 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: rgb(101, 101, 227);
  }
}

/* ===MAIN=== */

.container-view {
  display: grid;
  grid-template-columns: .2fr .8fr;
}

/*===STORE===*/
.store {
  width: 100%;
  background-color: #eeee;
  padding: 1rem;
  max-height: 92vh;
  overflow-y: auto;
}
.section-store {
background-color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.section-store img{
  width: 100%;
  height: 130px;
  border-radius: .4rem;
  box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.3);
}
.container-product-store {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2vh;
}
.container-target-item {
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .4rem;
  border: 1px solid red;
  transition: .2s ease;
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }

}
.container-target-item h2{
  font-size: 1.2rem;
  text-align: center;
}
.container-target-item p{
  font-size: 1rem;
  text-align: center;
}
.container-title-section {
  margin: 1rem;
  font-size: 3vh;
  border-bottom: 1px solid black;
}
.target-props {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}
/* ===LISTASIDE=== */
.title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.list-aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 92vh;
}
.list-aside h2 {
  display: flex;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}
.list-aside ul {
  margin-top: 3vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
}
.list-aside ul li {
  font-size: 2vh;
  font-weight: 500;
  padding: .4rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(53, 53, 236);
    color: white;
  }
}
.li-active {
  background-color: rgb(53, 53, 236);
  border-radius: .4rem;
  color: white;
}
/* ===POPUP=== */
.container-title-popup {
  text-align: center;
}

.popup-container-principal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
.popup-container {
  width: 40vw;
  height: 50vh;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: .4rem;
  padding: .4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  
}
.container-inputs-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.container-inputs-popup input,
.container-inputs-popup select {
  width: 100%;
  border: 1px solid gray;
  padding: .4rem;
  border-radius: .4rem;
}

.container-buttons-popup {
  display: flex;
  gap: 1rem;
}
.button-popup {
  padding: .6rem;
  border: none;
  border-radius: .4rem;
  font-size: 2vh;
  cursor: pointer;
}
.cancel {
  background-color: yellow;
}
.accept {
  background-color: green;
  color: white;
}
.delete {
  background-color: red;
  color: white;
}

/* ===MEDIA QUERYS=== */
@media screen and (min-width: 1280px) {
  .container-product-store {
    grid-template-columns: repeat(4,0.6fr);
  }
  .container-target-item {
    width: 15vw;
  }
}

/* ===SCROLLBAR=== */
::-webkit-scrollbar {
  width: .7rem;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(53, 53, 236);
  border-radius: .4rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(101, 101, 227);
}